<!-- <ion-header [translucent]="true"> 
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <table class="dtab3">
    <tr>
     <!-- <th>No</th> -->
      <th>Informasi</th>
    </tr>
    <tr *ngFor="let data of allData">
      <!-- <th style="background-color: rgb(255, 255, 255); color:black; font-size: small;">{{data.kd_info}}</th> -->
      <th style="background-color: rgb(255, 255, 255); color:black; font-size: small;">{{data.info}}</th>
    </tr>

  </table>
</ion-content>
